*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_header{
    width: 90%;
    margin: auto;
    border: 1px solid black;
}

header{
    height: 100px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.frontpage{
    height: 500px;
    background-color: cadetblue;
}



